body {
  color: white;
  background: black;
  font-family: 'Sniglet',cursive;
}
#arrow {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:875px;
  top:300px;
  padding: 25px;
  cursor: pointer;
}
.text {
 background-color: white;
  width: 300px;
  border: none;
  padding: 10px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 50px;
  color: black;
}
.MainCharacter {
  position: absolute;
  left: 750px;
  top: 500;
}
.introformc {
  background-color: white;
  width: 300px;
  border: none;
  padding: 20px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 500px;
  color: black;
}
#play {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  cursor: pointer;
 }
#one {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:700px;
  top:300px;
  padding: 20px;
  cursor: pointer;
}

#two {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:800px;
  top:300px;
  padding: 20px;
  cursor: pointer;
}

#three {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:900px;
  top:300px;
  padding: 20px;
  cursor: pointer;
}

#four {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:1000px;
  top:300px;
  padding: 20px;
  cursor: pointer;
}

#five {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:1100px;
  top:300px;
  padding: 20px;
  cursor: pointer;
}

#backone {
  font-family: 'Sniglet',cursive;
  border:none
  background:#2196F3;
  position: absolute;
  left:100px;
  top:400px;
  padding: 20px;
}

#green {
  font-family: 'Sniglet',cursive;
  background-color: #44f441;
  width: 800px;
  border: none;
  padding: 50px;
  margin: 30px;
  position: absolute;
  left: 300px;
  top: 500px;
}

#sky {
  font-family: 'Sniglet',cursive;
  background-color: #42f4d7;
  width: 800px;
  border: none;
  padding: 50px;
  margin: 30px;
  position: absolute;
  left: 300px;
  top: 50px;
}







