body {
  color: white;
  background: black;
  font-family: 'Sniglet',cursive;
}
#arrow {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  position: absolute;
  left:875px;
  top:300px;
  padding: 25px;
  cursor: pointer;
}
.text {
 background-color: white;
  width: 300px;
  border: none;
  padding: 10px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 50px;
  color: black;
}

.introformc {
  background-color: white;
  width: 300px;
  border: none;
  padding: 20px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
  position: absolute;
  left: 750px;
  top: 500px;
  color: black;
}
#play {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
  cursor: pointer;
 }
#start {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
    text-align: center;
    width: 100%;
}
#start button {
  font-family: 'Sniglet',cursive;
  height:50px;
  border:none;
  background:#2196F3;
  outline:none;
  cursor: pointer;
}
#backone {
  font-family: 'Sniglet',cursive;
  border:none
  background: #2196F3;
  position: absolute;
  left:100px;
  top:400px;
  padding: 20px;
  cursor:pointer;
}

#canvasone {
  height = 600;
  width = 400;
  background-color: white;
}





