body {
  color: white;
  background: black;
  font-family: 'Sniglet',cursive;
}
button {
  font-family: 'Sniglet',cursive;
  border:none;
  background:#2196F3;
  outline:none;
}
.text {
 background-color: white;
  width: 80px;
  border: none;
  padding: 50px;
  margin: 25px;
  font-family: 'Sniglet',cursive;
}
